<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">My Chat Rooms</h1>
</md-toolbar>
<md-content ng-controller="sidenavController as vm">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary md-hue-1" ng-click="vm.showFindDialog()">Find Chat</md-button>
        <md-button ng-if="vm.username !== undefined" class="md-icon-button launch" aria-label="Send" ng-click="vm.showSettingsDialog()">
            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
        </md-button>
    </section>

    <md-list flex class="chatRoomList">
        <md-list-item class="md-2-line" ng-click="vm.enterChat('mainchat')">
            <div class="md-list-item-text" layout="column">
                <h3>mainchat</h3>
            </div>
        </md-list-item>
        <md-list-item class="md-2-line" ng-click="vm.enterChat(chatName)" ng-repeat="(chatName, unreadMessageCount) in vm.chats">
            <div class="md-list-item-text" layout="column">
                <h3>{{chatName}}</h3>
                <p ng-if="chat.unreadMessageCount > 0">{{unreadMessageCount}} unread messages</p>
            </div>
            <md-button class="md-secondary md-icon-button" ng-click="vm.removeChat(chatName)" aria-label="Leave room">
                <i class="fa fa-times" aria-hidden="true"></i>
            </md-button>
        </md-list-item>
    </md-list>
</md-content>
<span style="height: 70%"></span>
<div ng-controller="sidenavController as vm">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary md-hue-1" ng-click="vm.showAboutDialog()">About Project</md-button>
    </section>
</div>